{% extends "base.html" %} {% block content %}
<div class="flex flex-col items-center h-screen">
  <div class="flex h-12 lg:h-24 bg-white pt-4 border-b-2">
    <h2
      class="text-center text-lg lg:text-3xl lg:text-left lg:ml-12 lg:mt-5 font-montserrat font-extrabold text-blue-900 w-36 h-10 px-2 rounded-md border border-blue-950"
    >
      BudgetX
    </h2>
  </div>
  <div class="mb-24">
    <nav
      class="bg-white border border-blue-950 text-white h-15 md:w-48 lg:w-screen pt-2"
    >
      <div class="ml-6 mb-2 flex py-1 justify-between">
        <ul class="">
            <a href="{% url 'add-expense' %}">
          <div
            class="cursor-pointer flex items-center w-56 border-blue-950 hover:border-blue-950 hover:rounded-lg px-9 py-2 border-2 rounded-lg hover:bg-gray-300"
          >
            <li
              class="text-center ml-6 font-montserrat font-bold text-blue-950"
            >
             Add Expense
            </li>
          </div>
        </a>
        </ul>
        <ul>
            <a href="{% url 'add-budget'%}">
          <div
            class="cursor-pointer flex items-center w-56 border-blue-950 hover:border-blue-950 hover:rounded-lg px-9 py-2 border-2 rounded-lg hover:bg-gray-300"
          >
            <li
              class="ml-6 text-center font-montserrat font-bold text-blue-950"
            >
            Add Budget
            </li>
          </div>
        </a>
        </ul>
        <ul>
            <a href="{% url 'history' %}">
                <div
                  class="mr-6 cursor-pointer flex items-center w-48 border-blue-950 hover:border-blue-950 hover:rounded-lg px-9 py-2 border-2 rounded-lg hover:bg-gray-300"
                >
                  <li
                    class="ml-10 text-center font-montserrat font-bold text-blue-950"
                  >
                    History
                  </li>
                </div>
              </a>
        </ul>
      </div>
    </nav>
  </div>
  
  <div>
    <div class="flex items-center justify-center">
      <div
        class="bg-white shadow-md rounded p-8 w-full sm:w-100 border border-blue-950 mb-12"
      >
        <h1 class="text-2xl text-blue-950 font-extrabold mb-6">
          Create Budget
        </h1>

        <!-- Budget Form -->
        <form method="post">
            {% csrf_token %}

            <p class="text-montserrat font-extrabold mb-2" style="color: green">
                {{ success }}
              </p>
              
          <div class="mb-4">
            <label
              for="category"
              class="block text-sm font-medium text-gray-600"
              >Category</label
            >
            <input
              type="text"
              id="category"
              name="category"
              class="mt-1 p-2 border border-blue-950 w-full rounded-md"
            />
          </div>

          <div class="mb-4">
            <label for="limit" class="block text-sm font-medium text-gray-600"
              >Budget Limit</label
            >
            <input
              type="text"
              id="limit"
              name="limit"
              class="mt-1 p-2 border border-blue-950 w-full rounded-md"
            />
          </div>

          <div class="mb-4">
            <label for="limit" class="block text-sm font-medium text-gray-600"
              >Start Date </label
            >
            <input
              type="date"
              id="start_date"
              name="start_date"
              class="mt-1 p-2 border border-blue-950 w-full rounded-md"
            />
          </div>

          <div class="mb-4">
            <label for="limit" class="block text-sm font-medium text-gray-600"
              >End Date </label
            >
            <input
              type="date"
              id="end_date"
              name="end_date"
              class="mt-1 p-2 border border-blue-950 w-full rounded-md"
            />
          </div>

          <div class="flex justify-end">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Create Budget
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
